{% extends "master.html"%}
{% load staticfiles %}
{% block title %}Animales{% endblock %}

{% block content %}
<div class="container">
    {% if user.is_staff %}
    <div class="contenedor-crear col-lg-3 col-md-4 col-sm-12">
        <a href="{% url 'animal:crear_tratado' %}" class="btn btn-lg btn-block btn-info">Crear</a>
    </div>
    {% endif %}
    {% if animales %}
    <div class="card">
        <div class="card-header"><strong class="card-title">Animales Tratados</strong></div>
        {% for animal in animales  %}
        <div class="col mt-2 text-center">
            <div class="contenedor_img">
                <a href="{% url 'animal:perfil' animal.id %}">
                    {% if animal.imagen %}
                    <img src="{{animal.imagen.url}}" class="imagen-tb" loading="lazy">
                    {% else %}
                    <img src="{% static 'sin_foto.jpg' %}" class="imagen-tb" loading="lazy">
                    {% endif %}
                </a>
            </div>
            <h3><strong>{{animal.id}}# {{animal.nombre}}</strong></h3>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-info">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Fecha de aplicación</th>
                        <th scope="col">Tratamiento</th>
                        <th scope="col">Comentario</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tratado in tratados %}
                    {% if animal.id|striptags == tratado.animal.id|striptags %}
                    <tr>
                        <th scope="row">{{tratado.id}}</th>
                        <td>{{tratado.fecha_tratamiento|date:"d/m/Y"}}</td>
                        <td><a tabindex="0" class="btn " role="button" data-placement="right" data-toggle="popover"
                                data-trigger="focus" title="{{tratado.tratamiento}}"
                                data-content="{{tratado.tratamiento.descripcion}}">{{tratado.tratamiento}}</a></td>
                        <td>{{tratado.comentario}}</td>
                        <td>
                            <a href="{% url 'animal:editar_tratado' tratado.id %}" class="btn btn-primary">Editar</a>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% endfor %}
    </div>
    {% else %}
    <div class="text-center">
        <h1>No hay Animales tratados :)</h1>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block scripts %}
<script text="text/javascrips">
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>
{% endblock scripts %}