/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3.5rem;
    background-color: #f5f5f5;
}

textarea{
    max-height: 10rem;
    min-height: 10rem;
}
.card-formulario{
    padding: 2rem;
    margin-top: 1rem;
    background-color: white;
    border-radius: 1%;
}
.login-div {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
nav{
    background: #120136;
}
.col-lg-4{
    margin-bottom: 2.5rem;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Elegir";
}

.card-lista-animal{
    width: 20rem; 
    margin-left: auto; 
    margin-right: auto;
    background-color:rgb(228, 228, 228);
    border: solid #333;
    padding: 1.5rem;
    border-radius: 25px;
    box-shadow: 7px 10px 5px grey;
}

.contenedor-crear{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.search{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.img-vistaprevia-crear{
    width: 300px;
    height: 300px;
    margin-top: 25px;
    object-fit: cover;
    border-radius: 100%;
}
.img-vistaprevia{
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.contenedor_img{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.imagen-p{
    width: 260px;
    height: 260px;
    margin-bottom: 30px;
    object-fit: cover;
    background-color: grey;
    cursor: pointer;
}

.imagen-tb{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    transition: width 1s, height 1s, transform 1s;
    -moz-transition: width 1s, height 1s, -moz-transform 1s;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    -o-transition: width 1s, height 1s,-o-transform 1s;
}

.imagen-tb:hover{
    transform : scale(2.5);
    -moz-transform : scale(2.5);      /* Firefox */
    -webkit-transform : scale(2.5);   /* Chrome - Safari */
    -o-transform : scale(2.5);
}

.imagen-an{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 100%;
    border: solid white;
    box-shadow: 7px 10px 5px grey;
}


.btn-adoptar{
    font-size: large;
    background-color: salmon;
    display: block;
    padding: 10px;
    color: white;
    border-radius: 3px;
    margin-bottom: 0;
}

.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;

}
.blog-footer p:last-child {
    margin-bottom: auto;
}
footer{
    margin-top: 1rem;
    border-top: .05rem solid #e5e5e5;
    padding-top: 3rem;
    padding-bottom: 3rem;   
}
footer p {
    margin-bottom: .25rem;
  }

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.header{
    background-color: white;
    text-align: center;
    border-radius: 10px;
}

.perfilfoto-contenedor{
 text-align: center;
 width: 100%;
 height: 100%;
 margin-left: auto;
 margin-right: auto;
}
.perfilfoto{
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    border-radius: 100%;
    margin-top: -100px;
    width: 200px;
    height: 200px;
    border:solid 2px whitesmoke;
}

.portada-contenedor{
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.img-portada{
    object-fit: cover;
    width:100%;
    height: 100%;
}
.menuperfil{
    margin-top: 1rem;
}

.modal{
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.modal_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal_img{
    width: 50%;
}

.modal_open{
    display: block
}

.modal_boton{
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: tomato;
    font-size: 2.5em;
    text-align: center;
    border-radius: 50%;
}

.collapse-fotos{
    padding-right: 10px;
    padding-left: 20px;
    justify-content:center; 
    text-align: center; 
    margin-top: 2rem; 
    overflow-y: scroll; 
    max-height: 100rem;
}