{% extends "master.html"%}
{% load staticfiles %}
{% block title %}Animales{% endblock %}

{% block content %}
<div class="container">
    {% if solicitados %}
    {% for animal in animales %}
    <div class="card">
        <div class="card-header">
            <div class="contenedor_img">
                {% if animal.imagen %}
                <img src="{{animal.imagen.url}}" class="imagen-tb" loading="lazy">
                {% else %}
                <img src="{% static 'sin_foto.jpg' %}" class="imagen-tb" loading="lazy">
                {% endif %}
            </div>
            <div class="text-center"><h3><strong>{{animal.id}}# {{animal.nombre}}</strong></h3></div>
        </div>
        <div class="table">
            <table class="table table-bordered">
                <thead class="table-info"> 
                    <tr>
                        <th>ID</th>
                        <th>Solicitante</th>
                        <th>Fecha de solicitud </th>
                        <th>Contacto</th>
                        <th>Estado solicitud</th>               
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for solicitado in solicitados %}
                    {% if animal.id|striptags == solicitado.animal.id|striptags %}
                    <tr>
                        <td>{{solicitado.id}}</td>
                        <td>{{solicitado.usuario.nombres}} {{solicitado.usuario.apellidos}}</td>
                        <td>{{solicitado.fecha_solicitud|date:"d/m/Y"}}</td>
                        <td>{{solicitado.usuario.email}}</td>
                        <td>{{solicitado.estado_solicitud}}</td>                    
                        <td>
                            <form method="POST" action="{% url 'animal:aceptar-solicitud' solicitado.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success">Aceptar</button>
                            </form>
                        </td>
                        <td>
                            <form method="POST" action="{% url 'animal:rechazar-solicitud' solicitado.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Rechazar</button>
                            </form>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="text-center">
        <h1>No hay Animales solicitados :(</h1>
    </div>
    {% endif %}
</div>
{% endblock %}