{% extends "master.html" %}
{% load staticfiles %}
{% block title %}Inicio de sesión{% endblock %}
{% block nav %}{% endblock %}

{% block content %}
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
<div class="text-center login-div">

  <form class="form-signin" method="POST">
    {% csrf_token %}
    <img class="mb-4" src="{% static 'perrito_logo.png' %}" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Inicio de sesión</h1>
    {% if form.errors %}
    <p class="mt-5 mb-3 text-danger">Tu nombre de usuario o contraseña no coinciden. Por favor intenta de nuevo</p>
    {% endif %}
    <label for="username" class="sr-only">Email address</label>
    {{form.username}}
    <label for="password" class="sr-only">Password</label>
    {{form.password}}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Enviar</button>
    <a class="btn btn-lg btn-primary btn-block" href="{% url 'index'%}">Ir al inicio</a>
    <p class="mt-5 mb-3 text-muted">&copy; 2013-{% now "Y" %}</p>
  </form>
</div>
{% endblock %}
{%block footer%}{% endblock %}